.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.generate-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e6ded1;
  color: rgb(20, 19, 19);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #9b958b;
}

.color-button1-label,
#color-button2-label {
  font-weight: bold;
  margin-right: 10px;
}

.color-button1,
.color-button2 {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.top-button,
.bottom-button,
.right-button,
.left-button {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.top-button.active,
.bottom-button.active,
.right-button.active,
.left-button.active {
  background-color: #e6ded1;
  color: rgb(20, 19, 19);
  border-color: rgb(20, 19, 19);
}

.top-button:hover,
.bottom-button:hover,
.right-button:hover,
.left-button:hover {
  background-color: #eaeaea;
}
